.layout .ant-layout-header {
  display: flex;
}
.layout .ant-layout-header .logo {
  float: left;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin: 1px 24px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.menus {
  flex: 1;
}
.layout .ant-layout-header .connect {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-menu-title-content a {
  color: #fff;
  font-weight: bold;
}
.site-layout-content {
  min-height: 85vh;
  padding: 24px;
  background: #fff;
}
.content {
  padding-left: 100px;
  padding-right: 100px;
}
@media only screen and (max-width: 600px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.page-title {
  font-size: 40px;
}
